@charset "utf-8";

body{
		align-items: center;
		text-align: left;
		background-color: #e0ffff;
		color: black; /*글자색*/
		font-family: sans-serif;
		
		line-height: 28px;
}

.user-info{ /*유저정보(통틀어서)*/
	text-align:left;
	line-height: 28px;
	padding-left: 10px;
	width: 427px; /*427*/
	height: 30px;
	font-size: 13px;
	resize: none;
	border-radius: 5px;
	border: 1px rgba(0, 0, 0, 0.44) solid;
	margin-top: 20px;
	margin-bottom: 5px; /*div 사이 공백*/
	
	flex-direction: row;
}

.user-info1{ /*유저정보: 제목*/
	text-align:left;
	line-height: 28px;
	padding-left: 10px;
	width: 100px; /*427*/
	height: 30px;
	font-size: 13px;
	resize: none;
	border-radius: 5px;
	border: 1px rgba(0, 0, 0, 0.44) solid;
	margin-top: 20px;
	margin-bottom: 5px; /*div 사이 공백*/
	
	flex-direction: row;
}

.user-info2{ /*유저정보: 내용*/
	text-align:left;
	line-height: 28px;
	padding-left: 10px;
	width: 320px; /*427*/
	height: 30px;
	font-size: 13px;
	resize: none;
	border-radius: 5px;
	border: 1px rgba(0, 0, 0, 0.44) solid;
	margin-top: 20px;
	margin-bottom: 5px; /*div 사이 공백*/
	
	flex-direction: row;
}

.row-container{ /*가로로 정렬하기*/
	display: flex;
	flex-direction: row;
}

.user-container { /*유저정보 덮는 창(가장 큰 틀)*/
	display: flex;
	flex-direction: column; /*세로로 나열*/
	margin-bottom: 20px;
	padding-left: 10px; /*왼쪽 공백(내부)*/
	padding-right: 10px;
	width: 465px;
	gap: 8px;
	border: 1px rgba(0, 0, 0, 0.66) solid;
	border-radius: 5px; /*둥글기정도!*/
	
	background-color: white;
}

.deletefoodlist{ /*삭제할 음식(delete)*/
	line-height: 28px;
	padding-left: 10px;
	width: 320px; /*427*/
	height: 28px;
	font-size: 13px;
	resize: none;
	border-radius: 5px;
	border: 1px rgba(0, 0, 0, 0.44) solid;
	margin-top: 20px;
	margin-bottom: 15px; /*div 사이 공백*/
	margin-left: 10px;

	flex-direction: row;
}

.insertfoodlist{ /*추가할 음식(delete)*/
	line-height: 28px;
	padding-left: 10px;
	width: 320px; /*427*/
	height: 28px;
	font-size: 13px;
	resize: none;
	border-radius: 5px;
	border: 1px rgba(0, 0, 0, 0.44) solid;
	margin-top: 20px;
	margin-bottom: 15px; /*div 사이 공백*/
	margin-left: 10px;

	flex-direction: row;
}
