@charset "utf-8";

	/* 왼쪽 사이드바 이동 */
	body, ul, li {
		padding: 0;
    	margin: 0;
    	list-style: none;
	}

	a {
    	color: inherit;
    	text-decoration: none;
	}

	.side-bar > ul ul {
    	display: none;
    	position: absolute; 
    	top: 0; 
    	left: 100%;
    	background-color: #dfdfdf;
	}

	body {
    	height: 10000px;
	}

	.side-bar {
    	background-color: #dfdfdf; 
    	height: 100%; 
    	width: 180px;
    	position: fixed; 
    	left: -155px;
    	transition: left .3s;
	}

	.side-bar > .menu {
    	text-align: right;
    	padding: 10px;
	}

	.side-bar > ul li {
    	position: relative;
	}

	.side-bar ul {
    	font-weight: bold; 
    	text-align: center; 
    	padding: 0;
	}

	.side-bar ul > li > a {
    display: block; 
    padding: 10px; 
    white-space: nowrap;
	}

	.side-bar:hover {
    	left: 0;
	}

	.side-bar ul > li:hover ul {
    	display: block;
	}

	.side-bar ul > li:hover > a {
    	color: white; 
    	background-color: black;
	}

	.side-bar > .menu > span:last-child {
    	display: none;
	}

	.side-bar:hover > .menu > span:last-child {
    	display: block;
	}

	.side-bar:hover > .menu > span:first-child {
    	display: none;
	}
	
	/*사이드바의 이동에 따른 메인 내용 이동*/
	body.active {
      /* 사이드바가 열렸을 때 오른쪽으로 이동시킬 스타일 */
      margin-left: 250px;
    }

    .side-bar.active {
      /* 사이드바가 열렸을 때의 스타일 */
      width: 250px;
    }